@charset "UTF-8";

@import url('https://fonts.googleapis.com/css2?family=DotGothic16&display=swap');

@import url('https://fonts.googleapis.com/css2?family=Aldrich&display=swap');

body {
    width: 100%;
    background-color: #02343b;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
}


h1 {
    font-family: 'DotGothic16', sans-serif;
    color: #00E1FF;   
    font-size: 7vh;
    letter-spacing: 1.5vw;
    margin: 5vw;
    text-shadow: 1vh 1vh 1vh black;
    transition: 1000ms;
}

li {
    margin: 1.5vh;
    padding: 2vh 4vw;
    background-color: #021e22c0;
    box-shadow: 1vh 1vh 1vh rgba(0, 0, 0, 0.829);
    transition: 400ms;
}

.gif-ola {
    width: 30vw;
    margin: auto;  
}

.panda {
    width: 250px;
}

li:hover {
    background-color: #0d8ca0c0;  
}

a:hover {
    color:  #021e22c0; 
}

li:active {
    transform: scale(1.1);
}

a {
    font-family: 'Aldrich', sans-serif;
    font-size: 3vh;
    text-decoration: none;
    color: #f9f8eec0;
    transition: 500ms;
}

footer {
    font-family: 'Aldrich', sans-serif;
    font-size: 2.5vh;
    margin: 5vh;
}

h2 {
    font-family: 'DotGothic16', sans-serif;
    color: #00E1FF;   
    font-size: 5vh;
    letter-spacing: 1.5vw;
    margin: 5vw;
    text-shadow: 1vh 1vh 1vh black;
    transition: 1000ms;
}

.aviso {
    width: 80%;
    margin: auto;
    padding: 3vh;
    background-color: #F9F8EE;
    box-shadow: 1vh 1vh 1vh black;

}

h4 {
    margin: 2vw;
    font-family: 'Aldrich', sans-serif;
    font-size: 3vh;
    letter-spacing: 0.5vw;
    color: #124a94;
    transition: 500ms;    
}

h5 {
    margin: 1vw;
    font-family: 'Aldrich', sans-serif;
    text-align: justify;
    font-size: 2vh;
    color: #000000;
    transition: 500ms; 
}

.diretor {
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    

}

h3 {
    margin: 1vw;
    font-family: 'Aldrich', sans-serif;
    font-size: 3vh;
    letter-spacing: 0.5vw;
    color: #6191d1;
    transition: 500ms;
}

.foto {
    width: 20vw;
    height: 20vw;
    margin: 3vw 0 1vw 0;
    background-color: gray;
    border-radius: 50%;
}

.foto-diretor {
    width: 20vw;
    height: 20vw;
    border-radius: 50%;
}

p {
    font-family: 'DotGothic16', sans-serif;
    font-size: 2vh;
    letter-spacing: 1vw;
    text-shadow: 0.2vh 0.2vh 0.4vh black;
    margin: 3vh;

}

@media (max-width: 800px) {

    h1 {
        font-size: 10vw;
    }

    a {
        font-size: 5vw;
    }

    p {
        font-size: 4vw;
    }

    .panda {
        width: 30vw;
    }

    .foto {
        width: 60vw;
        height: 60vw;
        margin: 5vh 0 1vh 0;
    }

    .foto-diretor {
        width: 60vw;
        height: 60vw;
    }

    h3, h4 {
        font-size: 2.5vh;
    }

}



